{% extends 'guest'|layout %}

{% set page_title = 'Vahvista sähköpostisi'|trans %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ page_title }}</div>

                    <div class="card-body">
                        {% if session('resent') %}
                        <div class="alert alert-success" role="alert">
                            {{ 'Vahvistuslinkki on lähetetty sähköpostiosoitteeseesi.'|trans }}
                        </div>
                        {% endif %}

                        {{ 'Ennen kuin jatkat, ole hyvä ja tarkista onko sähköpostiin lähetetty vahvistuslinkki.'|trans }}
                        {{ 'Jos sähköpostilaatikkosi on tyhjä'|trans }},
                        <form class="d-inline" method="POST" action="{{ route('verification.resend') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                            <button type="submit" class="btn btn-link p-0 m-0 align-baseline">{{ 'klikkaa tästä tilataksesi uusi linkki'|trans }}</button>.
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
