{% extends 'admin'|layout %}

{% set page_title = 'Kokoelmat'|trans %}

{% block head %}{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'Kokoelma'|trans }}</th>
            <th>{{ 'URL-pääte'|trans }}</th>
            <th>{{ 'fields.edit'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
        <tr>
            <td>{{ library.name }}</td>
            <td>{{ library.slug }}</td>
            <td>
                <b-button variant="outline-secondary" href="{{ route('admin.libraries.edit', library.id) }}">
                    <b-icon icon="pencil"></b-icon>
                </b-button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <b-button variant="primary" href="{{ route('admin.libraries.create') }}">{{ 'fields.create'|trans }}</b-button>
{% endblock %}

{% block scripts %}{% endblock %}
