{% extends 'admin'|layout %}

{% set page_title = 'library.collection'|trans_choice(2) %}

{% block head %}{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'library.collection'|trans_choice(1) }}</th>
            <th>{{ 'fields.slug'|trans }}</th>
            <th>{{ 'library.member'|trans_choice(2) }}</th>
            <th>{{ 'fields.edit'|trans }}</th>
            <th>{{ 'fields.delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
            <tr>
                <td>{{ library.name }}</td>
                <td>{{ library.slug }}</td>
                <td>
                    <b-button variant="outline-secondary" href="{{ route('admin.libraries.show', library.id) }}">
                        <b-icon icon="people"></b-icon>
                    </b-button>
                </td>
                <td>
                    <b-button variant="outline-secondary" href="{{ route('admin.libraries.edit', library.id) }}">
                        <b-icon icon="pencil"></b-icon>
                    </b-button>
                </td>
                <td>
                    <delete-button
                        action="{{ route('admin.libraries.destroy', library.id) }}"
                        id="{{ unique_id(library) }}">

                        <p><strong>{{ 'Jatkamalla poistat seuraavat asiat:'|trans }}</strong></p>
                        <ul>
                            <li>{{ 'library.collection'|trans_choice(1) ~ ': ' ~ library.name ~ ' (' ~ library.slug ~ ')' }}</li>
                        </ul>
                    </delete-button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <b-button variant="primary" href="{{ route('admin.libraries.create') }}">{{ 'fields.create'|trans ~ ' ' ~ 'library.collection'|trans_choice(1)|lower }}</b-button>
{% endblock %}

{% block scripts %}{% endblock %}
