{% block book_form %}
    {{ form_start(book_form) }}
    {% set f = book_form %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(f.title) }}
        </div>

        <div class="col-md-6">
            {{ form_row(f.series) }}
        </div>

        {{ form_errors(f.title) }}
        {{ form_errors(f.series) }}
    </div>


    {{ form_row(f.authors) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(f.publisher) }}
        </div>

        <div class="col-md-4">
            {{ form_row(f.year) }}
        </div>

        <div class="col-md-4">
            {{ form_row(f.language) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <b-form-group>
                {{ form_label(f.cover) }}
                <b-input-group>
                    {{ form_widget(f.cover, { 'attr': { 'list': 'images', '@change': 'coverIsDirty = true', ':disabled' : 'upload_cover !== null' }}) }}
                    <b-input-group-append>
                        <b-input-group-addon>
                            <div style="width: 0; height: 0; overflow: hidden">
                                {{ form_widget(f.upload_cover, { 'attr' : { '@change' : 'attachImage', 'ref' : 'upload_cover' } }) }}
                            </div>
                            <b-button variant="outline-secondary" @click="$refs.upload_cover.click()"
                                      v-if="upload_cover === null">
                                <b-icon icon="camera"></b-icon>
                            </b-button>
                            <b-button variant="outline-danger" @click="detachImage" v-if="upload_cover != null">
                                <b-icon icon="x"></b-icon>
                            </b-button>
                        </b-input-group-addon>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
            <b-form-datalist id="images" :options="images"></b-form-datalist>
        </div>
    </div>

    {{ form_row(f.category_choices) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(f.local_id, { 'attr': { 'list': 'local_ids' } }) }}
            <b-form-datalist id="local_ids" :options="local_ids"></b-form-datalist>
        </div>

        <div class="col-md-6">
            <b-form-group>
                {{ form_label(f.isbn) }}
                <b-input-group>
                    {{ form_widget(f.isbn, { 'attr': { 'list': 'other_isbn' }}) }}
                    <b-input-group-append>
                        <b-input-group-addon>
                            <b-button variant="outline-secondary" @click="loadIsbn" :disabled="loadingIsbn">
                                <b-icon icon="arrow-repeat" :class="{ 'b-icon-animation-spin': loadingIsbn }"></b-icon>
                            </b-button>
                        </b-input-group-addon>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>

            <b-form-datalist id="other_isbn" :options="other_isbn"></b-form-datalist>
        </div>
    </div>

    {{ form_row(f.description) }}

    {{ form_row(f.keywords) }}

    {{ form_end(book_form) }}
{% endblock %}

{% block book_form_scripts %}
    <script type="text/javascript">
        window.Mixin.add('book_form', {
            data: {
                categories: {{ library.categories|vue }},
                cover: '',
                upload_cover: null,
                coverIsDirty: false,
                isbn: '',
                other_isbn: [],
                images: [],
                local_ids: [],
                loadingIsbn: false,
            },

            methods: {
                setBook: function (book) {
                    book.providers = JSON.stringify(book.providers);

                    this.images = book.images;
                    this.other_isbn = [ ...book.other_isbn, book.isbn ];

                    this.fillForm('book_form', book);

                    if (!this.coverIsDirty) {
                        book.cover = book.images.length > 0 ? book.images[0] : '';
                        this.loadCover(book);
                    }

                    if (this.search !== undefined && this.search.length > 0) {
                        $('#book_form_local_id').val(this.search);
                    }
                },

                loadCover: function (book) {
                    if (book.cover.length > 0) {
                        this.cover = book.cover;
                        $('#book_form_cover').val(this.cover);
                        return;
                    }

                    if (this.coverIsDirty) return; // Don't change the cover is the user has already selected one

                    this.cover = '{{ route('books.no_cover') }}';

                    axios.post('{{ route('books.cover') }}', {
                        title: book.title,
                        isbn: book.isbn,
                    }).then(({ data }) => {
                        this.cover = data;
                        $('#book_form_cover').val(data.includes('placeholder') ? '' : data);
                    });
                },

                loadIsbn: function () {
                    const isbn = $('#book_form_isbn').val();

                    if (isbn.length === 0) return;

                    axios.post('{{ route('books.details', library.slug) }}', {
                        isbn: isbn
                    }).then(({ data }) => {
                        this.setBook(data);
                    });
                },

                attachImage: function () {
                    this.upload_cover = this.$refs.upload_cover.files[0];
                    this.cover = URL.createObjectURL(this.upload_cover);
                    $('#book_form_cover').val(this.upload_cover.name);
                },

                detachImage: function () {
                    this.upload_cover = null;
                    this.cover = null;
                    this.$refs.upload_cover.value = null;
                    $('#book_form_cover').val(null);
                },
            },

            watch: {
                loadingIsbn: (value) => {
                    const button = document.getElementById('book_form_create');

                    if (button !== null) {
                        button.disabled = value;
                    }
                },
            },

            mounted() {
                const vue = this;

                vue.$on('select_book', vue.setBook);

                $('#book_form_cover').on('change', function () {
                    const book = {
                        title: $('#book_form_title').val(),
                        isbn: $('#book_form_isbn').val(),
                        cover: $(this).val(),
                    };

                    vue.loadCover(book);
                });

                const coverImage = $('img[data-cover]').data('cover');

                if (coverImage !== undefined) {
                    this.cover = coverImage;
                }

                axios.interceptors.request.use((config) => {
                    vue.loadingIsbn = true;

                    return config;
                }, (error) => {
                    vue.error = error.response;
                    vue.loadingIsbn = false;

                    return Promise.reject(error);
                });

                axios.interceptors.response.use((response) => {
                    vue.loadingIsbn = false;
                    vue.error = {};

                    return response;
                }, (error) => {
                    vue.loadingIsbn = false;
                    vue.error = error.response;

                    return Promise.reject(error);
                });
            },
        });
    </script>
{% endblock %}
