{% block navbar %}
    <b-navbar type="dark" variant="dark" class="mb-4">
        <b-navbar-brand href="{{ route('index') }}">{{ app_name }}</b-navbar-brand>

        <b-collapse id="mainMenu" is-nav>
            <b-navbar-nav class="mr-auto">
                {% block left %}{% endblock %}
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                {% block right %}{% endblock %}
            </b-navbar-nav>

            {% if auth is not empty %}
                <b-navbar-nav right>
                    <b-nav-item-dropdown right>
                        <template v-slot:button-content>
                            {{ auth.name }}
                        </template>
                        <b-dropdown-item href="{{ route('settings') }}">
                            {{ 'fields.settings'|trans }}
                        </b-dropdown-item>
                        <b-dropdown-item @click="$root.$refs.logout.submit()">
                            <form method="post" action="{{ route('logout') }}" ref="logout">
                                {% token %}
                            </form>
                            {{ 'auth.logout'|trans }}
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            {% endif %}
        </b-collapse>
    </b-navbar>
{% endblock %}
