{% extends 'admin'|layout %}

{% set page_title = 'user.user'|trans_choice(2) %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ page_title }}</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'fields.name'|trans }}</th>
            <th>{{ 'user.admin'|trans }}</th>
            <th>{{ 'fields.delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>[[ user.name ]]</td>
            <td>
                <div>
                    <b-button
                        :variant="user.is_admin ? 'danger' : 'outline-secondary'"
                        :disabled="user.disabled"
                        @click="toggleRole(user)">

                        <b-icon icon="check"></b-icon>
                    </b-button>
                </div>
            </td>
            <td>
                <delete-button
                    v-if="!user.disabled"
                    :action="user.delete_action"
                    :id="'user--' + user.id">
                </delete-button>
            </td>
        </tr>
        </tbody>
    </table>

    <b-button variant="primary" href="{{ route('admin.users.create') }}">
        {{ 'fields.create'|trans ~ ' ' ~ 'user.user'|trans_choice(1)|lower }}
    </b-button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.Mixin.add('users', {
            data: {
                users: Object.values({{ users|vue }}).map(user => {
                    if (user.id === {{ auth.id }}) {
                        user.disabled = true;
                    }

                    user.delete_action = Route.get({{ raw_route('admin.users.destroy') }}, { user: user.id });

                    return user;
                })
            },

            methods: {
                toggleRole(user) {
                    if (user.disabled) return;

                    axios.post(Route.get({{ raw_route('admin.users.promote') }}, { user: user.id }), {
                        _method: 'put',
                        data: {
                            user: Object.assign(user, {
                                is_admin: !user.is_admin,
                            })
                        }
                    }).then(() => {
                        // Clear errors on a successful save
                        this.error = {};
                    }).catch(({ response }) => {
                        // If something went wrong, show error and reverse action
                        this.error = response;

                        user = Object.assign(user, {
                            is_admin: !user.is_admin,
                        });
                    });
                },
            },
        });
    </script>
{% endblock %}
