{% extends 'user'|layout %}

{% set page_title = book.title %}

{% block head %}{% endblock %}

{% block content %}
    <h3>{{ book.title }}</h3>
    <h5 class="text-muted">{{ book.authors }}</h5>

    <b-row class="py-3">
        <div class="col-md-6 col-auto">
            {% use 'templates.blocks.book_form' %}
            {{ block('book_form') }}
        </div>

        <div class="col-md-6 col-auto">
            <img :src="cover" data-cover="{{ book.cover }}" alt="">
        </div>
    </b-row>
{% endblock %}

{% block scripts %}
    {{ block('book_form_scripts') }}
{% endblock %}
