{% extends 'user'|layout %}

{% set page_title = book.title %}

{% block head %}{% endblock %}

{% block content %}
    <b-row>
        <b-col class="col-md-6 col-sm-3">
            <img src="{{ book.cover }}" alt=""/>
        </b-col>

        <b-col class="col-md-6 col-sm-9">
            {% if book.series is not empty %}
                <h6 class="text-uppercase mb-3">{{ book.series }}</h6>
            {% endif %}

            <h3>
                {{ book.title }}
                {% if can('update', book) %}
                    <b-button size="sm" href="{{ route('library.books.edit', [library.slug, book.id]) }}">
                        <b-icon icon="pencil"></b-icon>
                    </b-button>
                {% endif %}

                {% if can('delete', book) %}
                    <delete-button size="sm"
                                   action="{{ route('library.books.destroy', [library.slug, book.id]) }}">
                    </delete-button>
                {% endif %}
            </h3>

            <h5 class="text-muted mb-3">{{ book.authors }}</h5>

            {% if book.description is not empty %}
                <p>{{ book.description }}</p>
            {% endif %}

            {% if book.keywords is not empty %}
                <p><strong>{{ 'fields.keywords'|trans }}:</strong> {{ book.keywords }}</p>
            {% endif %}

            <table class="table table-striped table-sm my-5">
                <tbody>
                <tr>
                    <th>{{ 'fields.publisher'|trans }}</th>
                    <td>{{ book.publisher }}</td>
                </tr>
                <tr>
                    <th>{{ 'fields.year'|trans }}</th>
                    <td>{{ book.year }}</td>
                </tr>
                <tr>
                    <th>{{ 'fields.language'|trans }}</th>
                    <td>{{ book.language }}</td>
                </tr>
                <tr>
                    <th>{{ 'fields.isbn'|trans }}</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                </tbody>
            </table>

            {% if book.categories is not empty %}
                <h5>{{ 'category.type'|trans_choice(2) }}</h5>
                {% for category in book.categories %}
                    <category color="{{ category.color }}"
                              href="{{ route('library.categories.show', [library.slug, category.id]) }}">
                        {{ category.name }}
                    </category>
                {% endfor %}
            {% endif %}
        </b-col>
    </b-row>
{% endblock %}

{% block scripts %}{% endblock %}
