{% extends 'core'|layout %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% embed 'navbar'|block %}
        {% block left %}
            <b-nav-item href="{{ route('admin.index') }}">
                {{ 'library.admin_panel'|trans }}
            </b-nav-item>
        {% endblock %}
    {% endembed %}

    <div class="container mb-5">
        <ajax-error :error="error"></ajax-error>

        {{ parent() }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
