{% extends 'core'|layout %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% embed 'navbar'|block %}
        {% block auto %}
            <li class="nav-item">
                <a class="nav-link" href="{{ route('index') }}">Etusivu</a>
            </li>

            {% if can('access-backend') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('admin.index') }}">Hallintapaneeli</a>
                </li>
            {% endif %}
        {% endblock %}
    {% endembed %}

    <div class="container">
        {{ parent() }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
