{% extends 'core'|layout %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-3">
            <a href="{{ url('/') }}">{{ app_name }}</a>
        </h1>

        {{ parent() }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
