{% extends 'core'|layout %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% embed 'navbar'|block %}
        {% block left %}
            {% if library is defined %}
                <b-nav-item href="{{ route('library.index', library.slug) }}">
                    {{ library.name }}
                </b-nav-item>
                <b-nav-item href="{{ route('library.categories.index', library.slug) }}">
                    {{ 'category.type'|trans_choice(2) }}
                </b-nav-item>
                {% for category in library.categories %}
                    <b-nav-item href="{{ route('library.categories.show', [library.slug, category.id]) }}">
                        <b-icon icon="circle-fill" style="color: {{ category.color }}"></b-icon>
                        {{ category.name }}
                    </b-nav-item>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block right %}
            {% if library is defined %}
                {% if can('update', library) %}
                    <b-nav-item href="{{ route('library.books.create', library.slug) }}">
                        {{ 'fields.add'|trans ~ ' ' ~ 'library.book'|trans_choice(1)|lower }}
                    </b-nav-item>
                {% endif %}
            {% endif %}

            {% if can('access-backend') %}
                <b-nav-item href="{{ route('admin.index') }}">{{ 'library.admin_panel'|trans }}</b-nav-item>
            {% endif %}
        {% endblock %}
    {% endembed %}

    <div class="container mb-5">
        <ajax-error :error="error"></ajax-error>
        {% include 'templates.blocks.alert' %}

        {{ parent() }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
