<!DOCTYPE html>
<html lang="{{ config('app.locale')|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page_title is defined %} {{ page_title }} | {% endif %}{{ config('app.name') }}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />

    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block footer %}
    <script>window.Laravel = {{ {'csrfToken': csrf_token()}|json_encode()|raw }}</script>

    <script src="{{ asset('js/app.js') }}"></script>

    {% block scripts %}{% endblock %}
{% endblock %}
</body>
</html>
